.projects {
  padding: 2rem 4rem;
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;
}

/* ===== Header Section ===== */
.projectsHeader {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 3rem;
}

.projectsHeader h2 {
  margin: 0;
}

.projectsHeader p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.projectsHeader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 5px;
  height: 90%;
  background-color: var(--secondary-color);
}

/* ===== Projects Content Section ===== */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 4rem;
  justify-items: center;
}

/* ===== Button Left & Right ===== */
.arrowLeft,
.arrowRight {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  font-size: 36px;
  color: var(--text-color);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 5;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowLeft {
  left: 17rem;
}

.arrowRight {
  right: 17rem;
}

.arrowLeft:focus,
.arrowLeft:active,
.arrowRight:focus,
.arrowRight:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.arrowLeft:hover .icon {
  animation: moveLeftLoop 1s infinite;
}

.arrowRight:hover .icon {
  animation: moveRightLoop 1s infinite;
}

@keyframes moveLeftLoop {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRightLoop {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}
/* === MEDIA QUERIES BỔ SUNG CHO LAPTOP === */
@media (max-width: 1440px) {
  .arrowLeft {
    left: 15rem;
  }
  .arrowRight {
    right: 15rem;
  }
}
@media (max-width: 1439px) {
  .arrowLeft {
    left: 10rem;
  }
  .arrowRight {
    right: 10rem;
  }
}
/* === MEDIA QUERIES BỔ SUNG CHO TABLET === */
@media (max-width: 1279px) {
  .arrowLeft {
    left: 5%;
  }
  .arrowRight {
    right: 5%;
  }
}
/* === MEDIA QUERIES BỔ SUNG CHO MOBILE === */
@media (max-width: 767px) {
  .arrowLeft {
    left: 0%;
  }
  .arrowRight {
    right: 0%;
  }

  .projects {
    padding: 2rem 0 0 2rem;
  }
}
