.mainContent {
  margin-left: 290px;
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
}

.mainContent.fullWidth {
  margin-left: 0;
  width: 100%;
}

/* === MEDIA QUERIES BỔ SUNG CHO MOBILE === */
@media (max-width: 767px) {
  .mainContent h2 {
    font-size: 28px;
  }
}
