.languagesSkills {
  padding: 2rem 4rem;
  background-color: var(--thirty-color);
  transition: all 0.3s ease-in-out;
}

/* ===== Header Section ===== */
.skillsHeader {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 3rem;
}

.skillsHeader h2 {
  margin: 0;
}

.skillsHeader p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.skillsHeader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 5px;
  height: 90%;
  background-color: var(--secondary-color);
}

/* ===== Skills Content Section ===== */
.skillsContent {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}
/* .softSkills {
  grid-column: 2;
  grid-row: 1 / 3;
} */
.section {
  min-width: 280px;
}

.section h3 {
  font-size: 22px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 0.5rem;
  margin: 0 0 1rem 0;
}

.section ul {
  list-style-type: circle;
  padding-left: 1.5rem;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
}

.section li {
  margin-bottom: 0.75rem;
}

@media (max-width: 767px) {
  .languagesSkills {
    padding: 2rem;
  }

  .skillsContent {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    gap: 2rem;
  }
}
